// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'Myriad Pro';
  src: asset-url('mp.woff');
}

$main-color: #f5c85f;
$difuminated-color-border: #fff;

.line {
  background-color: $main-color;
  height: 8px;
  width: 100%;
  margin-bottom: 40px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  vertical-align: top;
  margin-bottom: 40px;
  width: 500px;
}

.vertical-line {
  height: 300px;
  width: 2px;
  background-size: cover;
}

.gradient {
  background: $main-color;
  background: -webkit-radial-gradient(circle, $main-color, $main-color, $difuminated-color-border);
  background: -o-radial-gradient(circle, $main-color, $main-color, $difuminated-color-border);
  background: -moz-radial-gradient(circle, $main-color, $main-color, $difuminated-color-border);
  background: radial-gradient(circle, $main-color, $main-color, $difuminated-color-border);
}

.logo {
  height: 100px;
  width: 200px;
  margin: auto 0;
}

.triangle-section {
  background: url('/assets/triangle.png') right center no-repeat;
  background-repeat: repeat-x;
  height: 12px;
}

.container {
  width: 100%;
}

.steps-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #eee;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-shadow: inset 0px -15px 44px 0px rgba(201,195,201,1);
  -moz-box-shadow: inset 0px -15px 44px 0px rgba(201,195,201,1);
  box-shadow: inset 0px -15px 44px 0px rgba(201,195,201,1);
}

.step {
  text-align:center;
  width: 230px;
  margin: 20px;
}

.title {
  font-family: 'Myriad Pro';
  font-size: 19px;
  color: #999;
  line-height: 23px;
  margin-bottom: 10px;
}

.subtitle {
  font-family: 'Myriad Pro';
  font-size: 14px;
  color: #333;
  line-height: 17px;
}

.asset {
  padding-bottom: 20px;
}

.footer {
  background-color: $main-color;
  height: 200px;
}

.get-info {
  font-family: 'Myriad Pro';
  color: #fff;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
}

.subcribe-input {
  text-align: center;
  margin-bottom: 30px;
}

.input-box {
  border-radius: 10px;
  border: 2px solid #ffffff;
  line-height: 32px;
  width: 310px;
}

.subscribe {
  text-align: center;
}

.subscribe-button {
  background-color: $main-color;
  border-radius: 8px;
  border-color: white;
  color: white;
}

.subscribe-button:hover {
  background-color: $main-color;
  color: white;
}


@media (max-width: 767px) {
  .vertical-line {
    display: none;
  }
  .phone-asset {
    display: none;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
}
